# --- IDEs and OS ---
.idea/
.vscode/
.DS_Store
*.iml
*.swp

# --- Backend (Java/Maven) ---
**/target/
**/build/
*.class
*.jar
*.war
*.ear
*.log
**/help_err_pid*
**/replay_pid*

# --- Frontend (Angular/Node) ---
**/node_modules/
**/dist/
**/tmp/
**/out/
**/.angular/
**/.cache/
**/npm-debug.log*
**/yarn-error.log*
**/.editorconfig
**/.eslintcache

# --- Docker & Environment ---
.env
.env.local