<h2 mat-dialog-title>Create New Product</h2>
<mat-dialog-content>
  <form [formGroup]="productForm" style="display: flex; flex-direction: column; gap: 15px; padding-top: 10px;">

    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="name" placeholder="e.g. Apple">
      <mat-error *ngIf="productForm.get('name')?.hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Unit Price</mat-label>
      <input matInput type="number" formControlName="unitPrice" placeholder="0.00">
      <span matTextPrefix>€&nbsp;</span>
      <mat-error *ngIf="productForm.get('unitPrice')?.hasError('min')">Price must be greater than 0</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="productForm.invalid">
    Save Product
  </button>
</mat-dialog-actions>
